li a {
    color: rgb(13, 0, 128);
    font-size: 30px;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
}

body {
    background: white url("images/background.jpeg") no-repeat;
    background-color: gray;
    background-size: cover;
}