li a {
    color: rgb(13, 0, 128);
    font-size: 30px;
    font-weight: 400px;
    list-style: none;
    text-decoration: none;
}

body {
    background: white url("images/laptop.jpg") no-repeat;
    background-color: gray;
    width: 100%;
    right: 0;
}